.banner{
  height: 40px;
  background-image: none;
}
body{
  background-color: #fff;
}
.navlist{
  width: 100%;
  height: 50px;
  background-color: #eee;
}
.navlist>div{
  width: 1200px;
  height: 50px;
  margin: 0 auto;
  justify-content: start;
  align-items: center;
  display: flex;
}
.navlist>div button{
  background-color: #fff;
  border: 1px solid #666;
  outline: 0;
  color: #666;
  padding:3px 8px;
  cursor: pointer;
}
.navlist>div span{
  padding: 0 5px;
  color: #666;
}
.navlist>div p{
  font-size: 13px;
  color: #666;
}
.detailed{
  width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  display: flex;
  background-color: #fff;
}
.detailed_imgs{
  flex: 0 0 33%;
  width: 400px;
  display: flex;
  position: relative;
  flex-flow: column nowrap;
}
.detailed_imgs>img{
  width: 100%;
  border: 1px solid #ccc;
}
.detailed_imgs>div{
  width: 100%;
  height: 80px;
  border:1px solid #ccc;
}
.detailed_imgs>div:nth-child(4){
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.detailed_imgs>div button{
  padding: 5px 20px;
  border:0;
  outline: 0;
  font-size: 20px;
  color: #666;
  box-sizing: border-box;
  cursor: pointer;
  /* border: 1px solid #666; */
  background-color: #fff;
}
.detailed_imgs>div button.active{
  color: #ccc;
}
.imgs_lists{
  /* flex: 0 0 70%; */
  width: 422px;
  overflow: hidden;
}
.imgs_lists>div{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  /* overflow: hidden; */
  margin-left: 0px;
}
.imgs_lists>div>img{
  width: 60px;
  margin: 0 10.5px;
  border: 1px solid #ccc;
  cursor: pointer;
}



.detailed_imgs>div:last-child{
  border: 0;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
}
.detailed_imgs>div:last-child span{
  font-size: 13px;
  padding:0 5px;
}



/* information */
.information{
  flex: 0 0 52%;
  padding: 0 40px;
  box-sizing: border-box;
  /* border: 1px solid #666; */
}
.information>p{
  font-size: 15px;
  font-weight: bold;
  color: #333;
}
.information>div:nth-child(2){
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
}
.information>div p{
  line-height: 20px;
  margin: 5px 0;
}
.price{
  font-weight: bold;
  font-size: 22px !important;
  color: red;
}
.evaluate{
  font-size: 13px;
}
.information>div span{
  font-size: 13px;
  padding: 0 10px;
}

.information>p{
  line-height: 30px;
}
.information_text{
  display: flex;
  margin: 18px 0;
  color: #666;
}
.delivery>span:last-child{
  font-size: 11px;
}
.delivery>span:last-child select{
  /* width: 50px; */
  padding:2px 5px;
}
.delivery>span>span{
  font-size: 18px;
  font-weight: bold;
}

.information_text>span:first-child{
  flex: 0 0 10%;
  text-align: center;
}
.number{
  width: 70px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-top: -5px;
  padding: 0;
  border: 1px solid #555;
}
.number>input{
  border: 0;
  outline: 0;
  text-align: center;
  /* box-sizing: border-box;
  padding-left: 20px; */
  width: 39px;
  height: 30px;
  border-right: 1px solid #666;
}
.number>div{
  width: 30px;
  border: 0;
  height: 30px;
}
.number>div>button{
  float: left;
  width: 30px;
  height: 15px;
  border: 0;
  cursor: pointer;
  outline: 0;
  background-color: #fff;
  text-align: center;
}
.number>div>button:last-child{
  border-top: 1px solid #666;
}

.information_text:last-child{
  display: flex;
  justify-content: center;
}
.information_text:last-child>button{
  border: 0;
  outline: 0;
  padding: 5px 10px;
  color: #fff;
  margin: 0 10px;
  cursor: pointer;
  background-color: #F42424;

}
.information_text:last-child>button:last-child{
  background-color: #FF8F22;
}
/* detailed_lists */
.detailed_lists{
  flex: 0 0 15%;
  overflow: hidden;
  height: 800px;
  /* border: 1px solid #666; */
}
.detailed_lists>div:nth-child(2){
  overflow: hidden;
  /* margin-top: -100px; */
  height: 680px;
}
.detailed_lists>div:nth-child(2)>div{
  margin-top: 0px;
  transition: all .5s ease;
}
.detailed_lists h5{
  text-align: center;
  color: #999;
  font-weight: normal;
  position: relative;
  z-index: 0;
}
.detailed_lists>div img{
  width: 100%;
}
.detailed_lists>div p{
  padding: 0 10px;
  width: 120px;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.detailed_lists>div p:last-child{
  color: #f00;
  font-size: 15px;
}
.detailed_ass{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detailed_ass>img{
  width: 100%;
}


/* group */
.group{
  width: 1200px;
  height: 252px;
  /* background-color: wheat; */
  margin: 0 auto;
}
.group>div:first-child{
  width: 1200px;
  height: 40px;
  display: flex;
  background-color: #eee;
  border-bottom: 1px solid #f00;
}
.group>div:first-child button{
  padding: 10px 20px;
  border: 0;
  outline: 0;
  color: #eee;
  cursor: pointer;
  background-color: #f00;
}
.group>div:first-child button:last-child{
  background-color: transparent;
  color: #666;
}


.group_lists{
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
.group_lists>div:last-child,.group_lists>div:first-child{
  flex: 0 0 15%;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.group_lists>div:last-child{
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.group_lists>div:nth-child(2){
  flex: 0 0 69%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-flow: row nowrap;
  overflow-x: scroll;
  /* border: 1px solid #666; */

}
.group_lists>div:first-child{
  display: flex;
  justify-content: center;
  align-items: center;
}
.group_lists>div:first-child div:first-child{
  width: 80%;
}

.group_lists>div:first-child div:first-child p{
  text-align: center;
  font-size: 12px;
  color: #666;
}
.group_lists>div:first-child div:first-child p:last-child{
  font-size: 17px;
  color: #F42424;
}
.group_lists>div:first-child div:last-child{
  width: 20%;
  font-size: 27px;
  color: #ccc;
}
.group_lists>div:first-child div img{
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}
.sweet{
  width: 200px;
}
.sweet>img{
  padding: 10px 50px;
  width: 100px;
}
.sweet>p{
  font-size: 13px;
  text-align: center;
}
.sweet>p:last-child{
  font-size: 16px;
  color: #f00;
}

.group_lists>div:last-child div{
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  justify-content: space-around;
  /* align-items: center; */
  flex-flow: column nowrap;
}
.group_lists>div:last-child div p{
  height: 40px;
  font-size: 13px;
  line-height: 30px;
}
.group_lists>div:last-child div p span{
  color: red;
  font-weight: bold;
}
.group_lists>div:last-child div p:nth-child(2) span{
  font-size: 15px;
}
.group_lists>div:last-child div button{
  background-color: #CC3333;
  border:0;
  outline: 0;
  padding: 3px 0;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}


/* particulars */
.particulars{
  width: 1200px;
  margin: 0 auto; 
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.particulars>div:first-child{
  flex: 0 0 15%;
  border-top: 1px solid #ccc;
  /* border: 1px solid #ccc; */
}
.particulars_left_fir{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  line-height: 20px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
  justify-content: space-between;
}
.particulars_left_fir p{
font-size: 14px;
color: #666;
font-weight: bold;
}
.particulars_left_fir a,.particulars_left_sec a{
  color: #333;
  font-size: 12px;
  color: #00f;
  text-decoration: none;
}
.particulars_left_sec{
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  /* border-bottom: 1px solid #ccc; */
}
.particulars_left_sec img{
  width: 100%;
}
.particulars_left_sec a,.particulars_left_sec p{
  font-size: 12px;
  color: #666;
  padding-left: 20px;
}
.particulars_left_sec p{
  font-size: 14px;
  color: red;
}
.particulars_left_sec:last-child{
  border-bottom: 1px solid #ccc;
}
.particulars>div:last-child{
  flex: 0 0 82%;
  box-sizing: border-box;
  /* padding-left: 20px; */
  /* border: 1px solid #999; */
}
.particulars_right_fir{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-self: start;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.particulars_right_fir a{
  display: inline-block;
  padding: 10px 15px;
  font-size: 13px;
  color: #000;
  text-decoration: none;
  border: 1px solid #999;
}
.particulars_right_fir a+a{
  border-left: 0;
}
.particulars_right_fir a.active{
  border-bottom: 0;
  border-top: 2px solid #f00;
}
.particulars_right_sec{
  margin-top: 20px;
  /* margin-bottom: 50px; */
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
.particulars_right_sec>div{
  flex: 0 0 20%;
  font-size: 13px;
  margin: 5px 0;
}
.particulars_right_sec>div p{
  width: 300px;
  font-size: 12px;
  color: #666;
  line-height: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.particulars_right_imgs{
  width: 100%;
  border: 1px solid #ccc;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

/* 售后哦 */
.sale{
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.sale_first{
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #ccc;

}
.sale_first p{
  padding-left: 20px;
  border-left: 4px solid #f00;
  font-size: 15px;
  font-weight: bold;
}
.sale_second{
  border: 1px solid #f00;
  width: 100%;
  display: flex;
  flex-flow:column  wrap;
  justify-content: space-around;
  align-items: flex-start;
}
.sale_second>div{
  flex: 0 0 100%;
  display: flex;
  margin: 10px 0;
  box-sizing: border-box;
  padding-left: 30px;
}
.sale_second>div>img{
  width: 32px;
  height: 32px;
}
.sale_second>div>div{
  padding-left: 20px;
}
.sale_second>div>div p:first-child{
  font-size: 15px;
  font-weight: bold;
  color: red;
}
.sale_second>div>div p:last-child{
  font-size: 12px;
}

.sale_thire{
  width: 100%;
  margin-top: 20px;
  font-size: 12px;
}
.sale_thire p:first-child{
  color: red;
  font-weight: bold;
}
.sale_thire p{
  line-height: 25px;
}



/* fixation */
.fixation{
  width: 100%;
  height: 40px;
  display: none;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 1px 1px #666;
}
.fixation>div{
  width: 767px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fixation>div div.gouwu button{
  padding: 4px 0;
  border:0;
  outline: 0;
  background-color: #f00;
  color: #fff;
  cursor: pointer;
  width: 80px;
  margin-right: -200px;
}

#curtain{
  width: 100%;
  height: 720px;
  background: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  display: none;
}
#curtain>div{
  width: 500px;
  height: 250px;
  background: #fff;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -125px;
}
#curtain>div>div:first-child{
  width: 100%;
  height: 40px;
  background-color: #ccc;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
}
#curtain>div>div:first-child p{
  margin-top: 5px;
  margin-left: 15px;
}
#curtain>div>div:first-child a{
  text-decoration: none;
  color: #666;
  margin: 5px 10px;
  padding: 0 5px 23px 5px;
  border: 1px solid #666;
}
#curtain>div>div:last-child{
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}
#curtain>div>div:last-child p{
  margin: 10px 0;
}
#curtain>div>div:last-child p:first-child,#curtain>div>div:last-child span{
  font-size: 20px;
  color: #f00;
  font-weight: bold;
}
#curtain>div>div:last-child p:nth-child(2){
  font-size: 13px;
}
#curtain>div>div:last-child p span:first-child{
  margin: 0 5px;
}
#curtain>div>div:last-child p a{
  display: inline-block;
  padding: 8px 25px;
  text-decoration: none;
  margin: 0 10px;
  border-radius: 5px;
  font-size: 13px;
}
#curtain>div>div:last-child p a:first-child{
  background-color: #F99C00;
  color: #fff;
}
#curtain>div>div:last-child p a:last-child{
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
}


/* ================================== 放大镜*/
/* #mark,#float-box{
  display: none;
} */
#mark{
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  z-index: 10;
  /* background-color: #f00; */
}
#float-box{
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  box-shadow: 0 0 3px #FF8F22;
  background-color: #FF8F22;
  opacity: .5;
  display: none;
}
#big-box{
  position: absolute;
  left: 420px;
  width: 400px;
  height: 400px;
  background-color: #f00;
  display: none;
  overflow: hidden;
}
#big-box img{
  position: absolute;
  /* width: 100%; */
}

/* 加入购物车样式 */
.maskcart{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 667;
  background: rgba(0,0,0,.5);
  display: none;
}
.maskcart>div{
  width: 500px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -125px;
  background: #fff;
}
.maskcartTop{
  width: 100%;
  height: 50px;
  background: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.maskcartTop>p{
  margin-left: 20px;
}
.maskcartTop>div{
  width: 20px;
  height: 20px;
  border: 1px solid #666;
  text-align: center;
  margin-right: 10px;
}
.maskcartTop>div a{
  color: #000;
  text-decoration: none;
}
.maskcartBom{
  width: 100%;height: 200px;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.maskcartBom>h3{color: #f00;}
.maskcartBom>p>span:nth-child(1){color: #f00;}
.maskcartBom>p>span:nth-child(2){color: #f00;font-size: 18px;font-weight: bold;}
.maskcartBom>div button{
  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
  background: #fff;
  padding: 5px 25px;
  margin: 0 10px;
  cursor: pointer;
}
.maskcartBom>div>button:first-child{
  background: orange;
  color: #fff;
}
/* 修改样式 */
.banner_top .mid_1{
  z-index: 40;
}