#search{
  width: 400px;
  height: 400px;
  background-color: transparent;
  /* border:1px solid #666; */
  position: absolute;
  left: 40%;
  top: 15%;
  margin-left: -45px;
  padding: 20px;
}
.banner{
  /* padding-top: 40px; */
  /* height: 500px; */
  background-size: 100% 100%;
  background-image: url(../img/order_search_bg.jpg);
  background-position: 40px 0 0 0;
}

#search>input{
  width: 60%;
  height: 30px;
  padding: 5px 10px;
  margin: 12px 0 28px 70px;
  /* margin-left: 70px; */
}
#search div{
  width: 65%;
  margin: 0 auto;
  height: 40px;
  margin-top: 10px;
}
#search div input{
  height: 100%;
  width: 130px;
  height: 35px;
  
}

#search div img{
  float: right
  ;
}
#search>input:nth-child(4){
  /* width: ; */
  height: 40px;
  background-color: violet;
  border: 0;
  outline: 0;
  margin-top: 50px;
  /* padding: 20px 0; */
  color: #fff;
  line-height: 35px;
}

#search p{
  font-size: 13px;
  padding: 0 20px;
}
